
@{
    ViewData["Title"] = "Sales History";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var error = TempData["error"] as string;
}

<div id="Delete" class="tabcontent">
    <br/>
    <div style="text-align:right;">
        <h3 class="text-muted"> <i class="fa fa-history"></i> <b>Sales History</b></h3>
    </div>
    <table id="inventoryTable1" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th> Name </th>
                <th> Manufacturer </th>
                <th> Reg No </th>
                <th> Location Name </th>
                <th> Total Paid </th>
                <th> Payment </th>
                <th> Approved By </th>
                <th> Remark </th>
                <th> Actions </th>
            </tr>
        </thead>
    </table>
</div>

<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="details-modal-body">
    </div>
</div>

<script id="details-modal-template" type="text/x-jsrender">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Sales Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="200">
                <div class="m-form__section m-form__section--first">
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Vehicle Name:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:carName}}</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Vehicle Manufacturer:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:carManufacturerName}}</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Vehicle Reg:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:regNumber}}</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-lg-6 col-form-label">Amount:</label>
                        <div class="col-lg-6">
                            <span class="m-form__control-static">{{:amount}}</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-lg-6 col-form-label">VAT:</label>
                        <div class="col-lg-6">
                            <span class="m-form__control-static">{{:vatString}}</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Total Paid:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:totalPaidString}}</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-lg-6 col-form-label">Sale Approved By:</label>
                        <div class="col-lg-6">
                            <span class="m-form__control-static">{{:approvedBy}}</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-lg-6 col-form-label">Location Name:</label>
                        <div class="col-lg-6">
                            <span class="m-form__control-static">{{:locationName}}</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-lg-6 col-form-label">Customer Name:</label>
                        <div class="col-lg-6">
                            <span class="m-form__control-static">{{:customerName}}</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-lg-6 col-form-label">Customer Email:</label>
                        <div class="col-lg-6">
                            <span class="m-form__control-static">{{:customerEmail}}</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-lg-6 col-form-label">Customer Address:</label>
                        <div class="col-lg-6">
                            <span class="m-form__control-static">{{:customerAddress}}</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-lg-6 col-form-label">Customer Phone:</label>
                        <div class="col-lg-6">
                            <span class="m-form__control-static">{{:customerPhone}}</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-lg-6 col-form-label">Customer Date Of Birth:</label>
                        <div class="col-lg-6">
                            <span class="m-form__control-static">{{:dateOfBirth}}</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-lg-6 col-form-label">Delivery Type:</label>
                        <div class="col-lg-6">
                            <span class="m-form__control-static">{{:deliveryTypes}}</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-lg-6 col-form-label">Remark:</label>
                        <div class="col-lg-6">
                            <span class="m-form__control-static">{{:remark}}</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-lg-6 col-form-label">Transaction Date:</label>
                        <div class="col-lg-6">
                            <span class="m-form__control-static">{{:transactionDate}}</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-lg-6 col-form-label">Gender:</label>
                        <div class="col-lg-6">
                            <span class="m-form__control-static">{{:genderString}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</script>
@section Scripts
{
    <script>
        var Popup, dataTable1, dataTable2, dataTable3, dataTable4, dataTable5;
        $(document).ready(function () {
            dataTable1 = $("#inventoryTable1").DataTable({
                "orderable": false,
                "searchable": false,
                "responsive": true,
                "dom": 'lBfrtip',
                "buttons": [
                    {
                        extend: 'csv',
                        messageTop: 'All Vehicles Registered on CMS',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5]
                        },
                        className: 'btn btn-success'
                    },
                    {
                        extend: 'excel',
                        messageTop: 'All Vehicles Registered on CMS',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5]
                        },
                        className: 'btn btn-secondary'
                    },
                    {
                        extend: 'print',
                        messageTop: 'All Vehicles Registered on CMS',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5]
                        },
                        className: 'btn btn-primary'
                    }
                ],
                "ajax": {
                    "url": "@Url.Action("GetSalesHistory", "Report")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "id",
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    { "data": "carName" },
                    { "data": "carManufacturerName" },
                    { "data": "regNumber" },
                    { "data": "locationName" },
                    { "data": "totalPaidString" },
                    { "data": "paymentTypes" },
                    { "data": "approvedBy" },
                    { "data": "remark" },
                    {
                        render: function (a, t, data, n) {
                            return `\n <div style="text-align: center">\n
                                      \n <div class="btn-group">\n
                                       <button type="button" class="btn btn-danger dropdown-toggle" style="font-size: 13px;" data-toggle="dropdown">View More
                                       <i class="fa fa-folder"></i>
                                       </button>
                                       <ul class="dropdown-menu" style="text-align: center; min-width:100% !important" role="menu">
                                          <li><a class="dropdown-item open-details-modal" href="javascript:void(0);">View Details <i class="fa fa-leaf"></i> </a></li>
                                        </ul>
                                  \n </div>\n`
                        }
                    }
                ],
                "language": {
                    "emptyTable": "No <b >data</b> found"
                }
            });
            dataTable1.on('click', '.open-details-modal', function () {
                var tr = $(this).closest("tr");
                var data = dataTable1.row(tr).data();

                var tmpl = $.templates("#details-modal-template");
                var html = tmpl.render(data);
                $("#details-modal-body").html(html);
                $('#details-modal').modal('show')
            })
        });
    </script>
}