@model CarSalesDTO
@{
    ViewData["Title"] = "Sell Vehicle";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var error = TempData["error"] as string;
    var success = TempData["success"] as string;
    var vat = TempData["vat"] as string;
    var amount = TempData["amount"] as string;
    var delivery = TempData["delivery"] as string;
    var total = TempData["total"] as string;
}
<br />
<hr />
<div style="text-align:left">
    <h2 class="text-muted"><i class="fa fa-automobile"></i><b> Vehicle Sale</b></h2>
</div>
<hr />
<div>
    <form asp-action="SellPost">
        <div style="text-align:right;">
            <h4 class="text-muted"><i class="fa fa-user"></i><b> Customer Info</b></h4>
        </div><hr />
        @if (!string.IsNullOrEmpty(error))
        {
            <div class="alert alert-danger" style="padding: 10px">
                @error
            </div>
        }
        @if (!string.IsNullOrEmpty(success))
        {
            <div class="alert alert-success" style="padding: 10px">
                @success
            </div>
        }
        <div class="form-group m-form__group row divrow">
            <div class="col-lg-2">
                <label>Title:</label>
                <div class="form-control">
                    <select asp-for="Title" name="Title" id="Title">
                        <option value="">Select a Title</option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Rather Not Say">Rather Not Say</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group m-form__group row divrow">
            <div class="col-lg-3">
                <label>Customer First Name:</label>
                <div class="m-input-icon m-input-icon--right">
                    <input type="text" id="CustomerFirstName" name="CustomerFirstName" class="form-control" asp-for="CustomerFirstName" placeholder="Customer First Name" required autocomplete="off" />
                </div>
            </div>
            <div class="col-lg-3">
                <label>Customer Last Name:</label>
                <div class="m-input-icon m-input-icon--right">
                    <input type="text" id="CustomerLastName" name="CustomerLastName" class="form-control" asp-for="CustomerLastName" placeholder="Customer Last Name" autocomplete="off" />
                </div>
            </div>
            <div class="col-lg-3">
                <label>Customer Middle Name:</label>
                <div class="m-input-icon m-input-icon--right">
                    <input type="text" id="CustomerMiddleName" name="CustomerMiddleName" class="form-control" asp-for="CustomerMiddleName" placeholder="Customer Middle Name" autocomplete="off" />
                </div>
            </div>
            <div class="col-lg-3">
                <label>Customer Email:</label>
                <div class="m-input-icon m-input-icon--right">
                    <input type="email" id="CustomerEmail" name="CustomerEmail" class="form-control" asp-for="CustomerEmail" placeholder="Customer Email" required autocomplete="off" />
                </div>
            </div>
        </div>
        <div class="form-group m-form__group row divrow">
            <div class="col-lg-3">
                <label>Customer Phone:</label>
                <div class="m-input-icon m-input-icon--right">
                    <input type="text" id="CustomerPhone" name="CustomerPhone" class="form-control" asp-for="CustomerPhone" placeholder="Customer Phone" required autocomplete="off" />
                </div>
            </div>
            <div class="col-lg-3">
                <label>Customer Home Address:</label>
                <div class="m-input-icon m-input-icon--right">
                    <input type="text" id="CustomerAddress" name="CustomerAddress" class="form-control" asp-for="CustomerAddress" placeholder="Customer Home Address" required autocomplete="off" />
                </div>
            </div>
            <div class="col-lg-3">
                <label>Next Of Kin Name:</label>
                <div class="m-input-icon m-input-icon--right">
                    <input type="text" id="NextOfKinName" name="NextOfKinName" class="form-control" asp-for="NextOfKinName" placeholder="Next Of Kin Name" />
                </div>
            </div>
            <div class="col-lg-3">
                <label>Next Of Kin Phone:</label>
                <div class="m-input-icon m-input-icon--right">
                    <input type="text" id="NextOfKinPhone" name="NextOfKinPhone" class="form-control" asp-for="NextOfKinPhone" placeholder="Next Of Kin Phone" />
                </div>
            </div>
        </div>
        <div class="form-group m-form__group row divrow">
            <div class="col-lg-3">
                <label>Date Of Birth:</label>
                <div class="m-input-icon m-input-icon--right">
                    <input type="text" id="DateOfBirth" name="DateOfBirth" class="form-control datepicker" asp-for="DateOfBirth" placeholder="Customer Date Of Birth" />
                </div>
            </div>
            <div class="col-lg-3">
                <label>Remark:</label>
                <div class="m-input-icon m-input-icon--right">
                    <textarea type="text" id="Remark" name="Remark" class="form-control"
                              asp-for="Remark" placeholder="Remark"></textarea>
                </div>
            </div>
            <div class="col-lg-2">
                <label>Optional Phone:</label>
                <div class="m-input-icon m-input-icon--right">
                    <input type="text" id="OptionalPhoneNumber" name="OptionalPhoneNumber" class="form-control" asp-for="OptionalPhoneNumber" placeholder="Optional Phone" />
                </div>
            </div>
            <div class="col-lg-2">
                <label>Gender:</label>
                <div class="m-input-icon m-input-icon--right">
                    <select asp-for="Gender" name="Gender" class="form-control m-input dropdown-select2" asp-items="@(Html.GetEnumSelectList<Gender>())">
                        <option value="" id="Gender">Select Gender</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-2">
                <label>Referral Code:</label>
                <div class="m-input-icon m-input-icon--right">
                    <input type="text" id="ReferralCode" name="ReferralCode" class="form-control" asp-for="ReferralCode" placeholder="Referral Code (If Any)" />
                </div>
            </div>
        </div>
        <br /><hr />
        <div style="text-align:right;">
            <h4 class="text-muted"><i class="fa fa-car"></i><b> Vehicle Info</b> </h4>
        </div>
        <hr />
        <div class="form-group m-form__group row divrow">
            <div class="col-lg-3">
                <label>Choose Vehicle:</label>
                <div class="m-input-icon m-input-icon--right">
                    <select id="CarId" asp-for="CarId" asp-items="ViewBag.Cars as IEnumerable<SelectListItem>" class="form-control dropdown-select2">
                        <option value="" id="">Select a Vehicle</option>
                    </select>
                    <div class="form-control-feedback"><span asp-validation-for="CarId"></span></div>
                </div>
            </div>
            <div class="col-lg-3">
                <label>Amount:</label>
                <div class="m-input-icon m-input-icon--right">
                    <input type="text" id="Amount" name="Amount" class="form-control" asp-for="Amount" placeholder="Amount" />
                </div>
            </div>
            <div class="col-lg-3">
                <label>Delivery Type:</label>
                <div class="m-input-icon m-input-icon--right">
                    <select asp-for="DeliveryType" id="DeliveryType" name="DeliveryType" class="form-control m-input dropdown-select2" asp-items="@(Html.GetEnumSelectList<DeliveryType>())">
                        <option value="">Select Delivery Type</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <label>Delivery Charge:</label>
                <div class="m-input-icon m-input-icon--right">
                    <input type="text" id="deliveryFeeString" name="deliveryFeeString" class="form-control" asp-for="deliveryFeeString" placeholder="Amount" />
                </div>
            </div>
        </div>
        <div class="form-group m-form__group row divrow">
            <div class="col-lg-3">
                <label>Payment Type:</label>
                <div class="m-input-icon m-input-icon--right">
                    <select asp-for="PaymentType" name="PaymentType" class="form-control m-input dropdown-select2" asp-items="@(Html.GetEnumSelectList<PaymentType>())">
                        <option value="" id="PaymentType">Select Payment Type</option>
                    </select>
                </div>
            </div>
            @*<div class="col-lg-3">
                    <label>Total To Pay:</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input type="text" id="TotalPaid" class="form-control" placeholder="Total To Pay" />
                    </div>
                </div>*@
        </div>
        <div class="form-row">
            <div class="col-lg-7"></div>
            <div class="col-lg-5">
                <table class="table table-striped table-bordered"
                       style="float:right; font-family:Arial, sans-serif">
                    <tr><th colspan="2">Breakdown</th></tr>
                    <tr>
                        <th>Details</th>
                        <th>Price</th>
                    </tr>
                    <tr>
                        <td>Retail Price</td>
                        <td><label id="bkAmount"></label></td>
                    </tr>
                    <tr>
                        <td>VAT</td>
                        <td><label id="bkVat"></label></td>
                    </tr>
                    <tr>
                        <td>Delivery</td>
                        <td><label id="bkDelivery"></label></td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td><b><label id="bkTotal"></label></b></td>
                    </tr>
                </table>
                <button type="button" id="GetTotal" class="btn btn-primary btn-block"><i class="fa fa-plus"></i>  Get Total </button>
            </div>
        </div>
        <br />
        <div class="form-row">
            <button class="btn btn-primary"><i class="fa fa-sellsy"></i> Sell Vehicle </button>
        </div>
    </form>
</div>

@section Styles
{
    <style>
        .datepicker {
            width: 16em !important;
        }

        .divrow {
            border-radius: 4px;
        }
    </style>
}
@section Scripts
{
    <script type="text/javascript">

        $(".datepicker").datepicker({
            format: "dd/mm/yyyy"
        });

        try {
            $(document).ready(function () {
                $(".dropdown-select2").select2();

                $('#CarId').on("change", function () {
                    var id = $("#CarId").find(":selected").val();
                    $.ajax({
                        url: "../../cars/GetCarPrice/" + id,
                        method: "GET",
                        success: function (data) {
                            if (data) {
                                $('#Amount').text(data.amount);
                                $('#Amount').val(data.amount);
                                $('#Vat').text(data.vat);
                                $('#VAT').val(data.vat);
                                $('#TotalPaid').text(data.totalToPay);
                                $('#TotalPaid').val(data.totalToPay);
                            }
                        }
                    });
                });

                $('#DeliveryType').on("change", function () {
                    var fee = "50000";
                    var delivery = $("#DeliveryType").find(":selected").val();
                    if (delivery == 1) {
                        $('#deliveryFeeString').text(fee);
                        $('#deliveryFeeString').val(fee);
                        swal("Delivery Charge has been added", "", "");
                    }
                    else {
                    }
                });

                $('#GetTotal').on("click", function () {
                    var amount = $("#Amount").val();
                    var delivery = $("#DeliveryType").find(":selected").val();
                    if (delivery == "") {
                        swal("", "Select Delivery Type", "");
                        return false;
                    }
                    var deliveryType = $("#DeliveryType").find(":selected").val();
                    $.ajax({
                        url: "../../cars/GetTotal",
                        data: {
                            amount: amount,
                            deliveryType: deliveryType
                        },
                        method: "GET",
                        success: function (data) {
                            if (data) {
                                $('#bkAmount').text(data.amount);
                                $('#bkAmount').val(data.amount);
                                $('#bkVat').text(data.vat);
                                $('#bkDelivery').text(data.deliveryCharge);
                                $('#bkTotal').text(data.total);

                                @*@amount = data.amount;
                                @vat = data.vat;
                                @delivery = data.delivery;
                                @total = data.totalToPay;*@
                            }
                        }
                    });
                })
            });
        }
        catch (err) {

        }
    </script>
}