<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<aspNetCore processPath="dotnet" arguments=".\ViewApplication.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
    <environmentVariables>
      <environmentVariable name="NEW_RELIC_APP_NAME" value="CMS-WEB" />
    </environmentVariables>
  </aspNetCore>-->
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
             <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
	  </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
		  <environmentVariable name="NEW_RELIC_APP_NAME" value="CMS-WEB" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 992211d3-0bac-478f-87b2-d9c1093dddae-->
